@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton/Panton-Regular.eot');
    src: local('Panton Regular'), local('Panton-Regular'),
        url('../fonts/Panton/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Panton/Panton-Regular.woff') format('woff'),
        url('../fonts/Panton/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton Bold';
    src: url('../fonts/Panton/Panton-Bold.eot');
    src: local('Panton Bold'), local('Panton-Bold'),
        url('../fonts/Panton/Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Panton/Panton-Bold.woff') format('woff'),
        url('../fonts/Panton/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}